
.tab-pane {
  display:none;
}

.tab-pane.active {
  display: block;
  transition: opacity 500ms;
}

.tabs .active {
  font-weight: 700;
}

.tabs {
  float: left;
  display: inline-block;
}

.tab-pane.transitioning {
  display: block;
  opacity: 0;
  transition: opacity 500ms;
}
