<h2><%= board.escape('title') %></h2>
<a href="#">Boards Index</a>

<div class="lists">
  <% lists.each(function (list) { %>
    <h3><%= list.escape('title') %></h3>

    <ul class="cards">
    </ul>
  <% }) %>
</div>
