/* PHASE 3: Layout */
.content {
    width: 900px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    min-height: 300px;
    background-color: #fff;
    margin: auto;
    position: relative;
}

.content-main:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  background: #ccc;
  /*border: 1px solid #000;*/
}

.content-main {
  float: left;
  width: 620px;
  min-height: 200px;
  padding: 20px;
  position: absolute;
  left: 240px;
}

.content-sidebar {
  width: 200px;
  float: left;
  min-height: 200px;
  padding: 20px;
  position: relative;
}
