<% if flash[:error] %>
  <p class="flash-error"><%= flash[:error] %></p>
<% end %>

<form action='<%= cat_rental_requests_url %>' method='POST'>
  Cat:<br/>
  <select name='cat_rental_requests[cat_id]'>
    <option></option>
    <% @cats.each do |cat| %>
      <option value='<%= cat.id %>'><%= cat.name %></option>
    <% end %>
  </select>
  <br/>

  Start date:
  <input type='date' name='cat_rental_requests[start_date]'>
  <br/>

  End date:
  <input type='date' name='cat_rental_requests[end_date]'>
  <br/>

  <input type='submit' value='Submit Request'>
</form>
