<form action="<%= url %>" method=post>
  <%= csrf_tag %>
  <label>Username:
    <input type=text name=user[username] value="<%= user.username %>">
  </label>
  <br>

  <label>Password:
    <input type=password name=user[password]>
  </label>
  <br>

  <input type=submit value=Submit>
</form>
